<div class="row">
    <div class="col-md-12">
        <h1 class="text-center">Welcome to Quiz World</h1><br>
    </div>
</div>
<div class="content">
    <h3 id="introduction-to-angular-concepts">Introduction to Angular concepts</h3>

    <p>Angular is a platform and framework for building single-page client applications using HTML and TypeScript. Angular is written in TypeScript. It implements core and optional functionality as a set of TypeScript libraries that you import into your
        apps.
    </p>
    <p>The architecture of an Angular application relies on certain fundamental concepts. The basic building blocks of the Angular framework are Angular components that are organized into <em>NgModules</em>. NgModules collect related code into functional
        sets; an Angular app is defined by a set of NgModules. An app always has at least a <em>root module</em> that enables bootstrapping, and typically has many more <em>feature modules</em>.</p>
    <ul>
        <li>
            <p>Components define <em>views</em>, which are sets of screen elements that Angular can choose among and modify according to your program logic and data.</p>
        </li>
        <li>
            <p>Components use <em>services</em>, which provide specific functionality not directly related to views. Service providers can be <em>injected</em> into components as <em>dependencies</em>, making your code modular, reusable, and efficient.</p>
        </li>
    </ul>

    <div>
        <h3>Introduction to JavaScript</h3>
        <p>JavaScript powers the interactivity and the user experience on every major website. From user interfaces that provide richer desktop-like experiences to real-time data and messaging applications, you'll find JavaScript in the browser, on your
            phone and on the server.

            <p>In this track we'll introduce you to the JavaScript language, jQuery, the popular JavaScript framework and the ins-and-outs of adding interactivity in the browser.</p>

            <p> You'll also learn the fundamentals of programming by learning this fun and easy-to-get-started with language.</p>
    </div>
    <br>
    <h4>Choose your topic Wisely</h4>

    <form>
        <div class="row">
            <div class="col-md-2">
                <select [(ngModel)]="selectedTopic" name="topic" style="width: 100%;">
              <option value="">Please select a topic</option>
              <option value="angular">Angular</option>
               <option value="javascript">Java script</option>
            </select>
            </div>
            <div class="col-md-2">
                <input class="btn btn-primary" [disabled]="!selectedTopic" type="submit" value="Start" (click)="onStart()" />
            </div>
        </div>
    </form>