<div class="row">
    <div class="col-md-12">
        <h1 class="text-center">Quiz Questions</h1><br>
    </div>
</div>
<div class="row">
    <div class="col-md-12" *ngFor="let question of questions">
        <div class="card col-md-12">
            <div class="card-header">
                <span class="badge">{{question.question_id}}</span>
                <span class="question">{{question.question}}</span>
            </div>
            <div class="col-md-12 list-group-item" *ngFor="let answer of question.answers">

                <input [(ngModel)]="question.selectedAnswer" type="radio" id="answer_{{answer.answer_id}}" name="{{question.question_id}}" value="{{answer.answer_id}}">
                <label class="answerLabel" for="answer_{{answer.answer_id}}">{{answer.answer}}</label><br>

            </div>
        </div>
    </div>
</div>
<div class="col-md-12 text-center">
    <a class="btn btn-primary submit-btn" (click)="onQuizSubmit()">Submit</a>
</div>